
<nav class="navbar  navbar-light " style="background-color: #A41B08;">
  <a class="navbar-brand" href="/musicians">
  <img src="/assets/Logo_test.png" width="40" height="40" class="d-inline-block align-top" alt="" loading="lazy" >
  BandAIDE</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/musicians/<%= @current_user.id%>">Profile <span class="sr-only">(current)</span></a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/analytics" tabindex="-1">City Analytics</a>
      </li>
    </ul>
  </div>
</nav>